version: '3.8'

services:
  rabbitmq:
    env_file: "keys.env"
    image: rabbitmq:3.10.5-management
    container_name: rabbitmq
    ports:
      - '15672:15672'
      - '5672:5672'
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - rabbitmq_log:/var/lib/rabbitmq

volumes:
  rabbitmq_data:
  rabbitmq_log: